body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;

}

h1{
    font-size: 40px;
}

.my-name{
    color: orange;
}
.my-summary{
    text-align: justify;
}

.fexlible-container{
    display: flex;
}
.haf-width{
    width: 50%;
    padding: 5%;
}
.haf-width img{
    width: 80%;
}
.hire-link{
    background-image: linear-gradient(orange, #ff704d);
    text-decoration: none;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 500;
    
}
.hire-link:hover{
    background-image: linear-gradient(rgb(7, 100, 4), #51ff00);
    color: white;

}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.interest-summary{
    text-align: justify;
}
.resume-link{
    background-image: linear-gradient(orange, #ff704d);
    text-decoration: none;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 500;
}

.resume-link:hover{
    background-image: linear-gradient(rgb(7, 100, 4), #51ff00);
    color: white;

}

.middle-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}